<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenue sur le Système de Vote</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Bienvenue sur le Système de Vote</h2>
      <p>Veuillez vous inscrire ou vous connecter pour participer au vote.</p>
      <div class="button-container">
        <a href="register.php" class="button">S'inscrire</a>
        <a href="login.php" class="button">Se connecter</a>
      </div>
    </div>
  </body>
</html>
